body {
    Font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: hsl(212, 6%, 44%);
}

h1 {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-size: 1.4rem;
}

span {
    font-weight: 600;
}

h2 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    margin-bottom: 2px;
}

p {
    margin-bottom: 2px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-center {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.box__supervisor,
.box__team-builder,
.box__karma,
.box__calculator {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    max-width: 310px;
}

.box__supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.box__team-builder {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.box__karma {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.box__calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
}

.box__img {
    padding: 20px;
    align-self: flex-end;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Cuando empieza a crecer la cosa ponemos en el texto en el centro para que quede bien */
@media (min-width: 600px) {
    .header {
        text-align: center;
    }
}

/* He ajustado el min-width */
@media (min-width: 1200px) {


    .main {
        display: flex;
        flex-direction: row;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }

    .main-center {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: space-between;
        flex-shrink: 0; /* No te hagas más pequeño nunca */

    }


    .box__supervisor,
    .box__team-builder,
    .box__karma,
    .box__calculator {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra elementos */
        max-width: 300px; /* Como mucho las tarjetas crecen a lo ancho esta medida */
        min-height: 10vw; /* Evita que algunas sean más pequeñas */
        flex-grow: 1; /* Hace que crezcan equitativamente */
        flex-shrink: 0; /* No te hagas más pequeño nunca */
    }

    h2 {
        margin-top: 0;
    }
}